*{
    box-sizing: border-box;
    background-color: black;
    color: rgb(24, 177, 24);
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 25px;
}

.container-block {
    border: 2px dotted rgb(24, 177, 24);
    border-radius: 8px;
    width: 400px;
    text-align:justify;
    padding: 2px 25px;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        height: auto;
    }
}